extends layout.jade

block content
  div.container.pages
    div.detail-news-title-box
      div.detail-news-title title sfgsdfgsdfgsdf
      div.detail-news-info
        span Source:mahui
        span Date:2015-05-25
        span Num:1
    div.detail-news-body-box sdfgf
    div.detail-news-foot-box
      a(href='#') Provite:ssfgsfgsdf
      a(href="#") Next:sdfgsdgsdg