doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/message/css/messages.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/jquery-1.11.3/jquery.js')
    script(src='/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js')
    script(src='/lib/message/js/messages.js')
    //script(src='/javascripts/common.js')
    //script(src='/javascripts/index.js')
    block static
  body
    block content
