body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.cf{zoom:1;}
.cf:after{
	content:"";
	width:0;
	height:0;
	display: block;
	clear:both;
}
.pages{margin-top:8px;}
.pageleft{
	width:51%; 
	float:left;
}
.pageleft > div{
	height:400px;
	border-radius: 4px;
	background: url('/images/kaola.jpg');
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}
.pageright{width:49%; float:right;}
.login-page{
	background-color:#00cc66;
	padding-top:120px; 
}
.lgoinbox{
	margin:0 auto;
	width:400px;
	height:300px;	
}
.loginbox-body table{width:100%;}
.loginbox-body table tr{height:50px;}
.loginbox-body table tbody tr th{text-align:right;padding-right:5px;}
.loginbox-body table tbody tr td{text-align:left; padding-right:30px;}
.td-control{text-align:center !important; padding-top: 20px;}
.td-control input{width:140px;}
.td-control input:last-child{margin-left:20px;}
.td-register{
	padding:0 30px;
	vertical-align: bottom;
	font-weight: bold;
}
.td-register span:first-child{
	float:left;
}
.td-register span:last-child{
	float:right;
}


.list-item{padding:8px;}
.list-item span{display: inline-block;}
.list-head-title{font-weight: bold; font-size:16px;}
.list-hean-source{margin-right:50px; width:210px;}
.list-hean-source,
.list-head-date{float:right;}
.list-content{
	padding:16px 0 25px 0;
	text-indent: 25px;
	line-height: 25px;
	border-bottom: 1px dotted #666;
}
.alert{
	margin-top:15px;
}
.alert > span{
	float:right;
	font-weight: bold;
}
.alert a{
	text-decoration: none;
}
.inputRadio > input:not(:first-child){
  margin-left:20px;
}
.navbar-nav > li:not(:first-child){
	margin-left:20px;
}
.navbar-nav > li > a{
	font-size:14px;
	font-weight:bold;
}
.datalist{margin-bottom: 0px;}
.datalist thead th{text-align: center}
.td-num,
.td-date,
.td-option{
	text-align: center
}
.td-option > a{
	display: inline-block;
	width:70px;
	text-align: left;
}
.news-title{padding-bottom: 10px;}

.news-control{padding-top:20px; text-align: right}
.news-control > input{width:120px;}
.news-control > input:not(:first-child){margin-left:20px;}



.detail-news-title-box{
  border-bottom: 1px solid #666;
  padding-bottom:6px;
}
.detail-news-title{
  font-size:20px;
  text-align: center;
  padding:20px 0;
}
.detail-news-info{
  text-align: center;
}
.detail-news-info > span:not(first-child){
  margin-left:50px;
}
.detail-news-body-box{
  padding:20px 0;
  text-indent: 25px;
  line-height: 25px;
}
.detail-news-foot-box{
  padding:10px 0;
  border-top:1px solid #666;
}
.detail-news-foot-box > a:first-child{float:left;}
.detail-news-foot-box > a:last-child{float:right;}