extends ../layout.jade

block static
  //script(src='/lib/ueditor/ueditor.config.js')
  //script(src='/lib/ueditor/_examples/editor_api.js')
  //script(src='/lib/ueditor/lang/zh-cn/zh-cn.js')
  script(src='/lib/utf8-net/ueditor.config.js')
  script(src='/lib/utf8-net/ueditor.all.js')
  script(src='/lib/utf8-net/lang/zh-cn/zh-cn.js')

block content
  div.container.pages
    include head.jade

    div.pages-body
      div.news-title
        input(type='text', class='form-control', placeholder='Input news title', id='txtNewsTitle')
      div.news-content
        script(id="editor", type="text/plain", style="width:100%;height:400px;")
      div.news-control
        input(type='button', class='btn btn-primary', id='btnAddNews', value='Add News')
        input(type='button', class='btn btn-success', id='btnEmpty', value='Empty')
  script.
    var ue = UE.getEditor('editor');