extends ../layout.jade

block static
  //script(src='/lib/ueditor/ueditor.config.js')
  //script(src='/lib/ueditor/_examples/editor_api.js')
  //script(src='/lib/ueditor/lang/zh-cn/zh-cn.js')
  script(src='/lib/utf8-net/ueditor.config.js')
  script(src='/lib/utf8-net/ueditor.all.js')
  script(src='/lib/utf8-net/lang/zh-cn/zh-cn.js')

block content
  div.container.pages
    include head.jade

    div.pages-body
      div.news-title
        input(type='text', class='form-control', placeholder='Input news title', id='txtNewsTitle')
      div.news-content
        script(id="editor", type="text/plain", style="width:100%;height:400px;")
      div.news-control
        input(type='button', class='btn btn-primary', id='btnAddNews', value='Add News')
        input(type='button', class='btn btn-success', id='btnEmpty', value='Empty')
  script.
    var ue = UE.getEditor('editor');

    $(function(){
      // add news
      $("#btnAddNews").click(function(){
        var title = $("#txtNewsTitle").val();
        var Text = ue.getContentTxt();
        var Content = ue.getContent();

        if(!title){
          $.messages({msg:"News title not null",type:"error"});
          return;
        }

        if(!Text){
          $.messages({msg:"News content not null",type:"error"});
          return;
        }

        $.ajax({
          url:"/api/news/add",
          data:{
            title:title,
            content:Content
          },
          type:"POST",
          dataType:"JSON",
          success:function(data){
            if(!data){
              $.messages({msg:"Server not response data!",type:"error"});
              return;
            }
            if(data.status == 1){
              $.messages({msg:"News send success!",type:"success"});
            }else{
              $.messages({msg:data.msg,type:"error"});
            }
          },
          error:function(){
            $.messages({msg:"Sorry, Server error!",type:"error"});
          }
        });

      });
    });
