nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      ul.nav.navbar-nav
        li
          a(href="/manage/index", class='navbar-brand') <span class='glyphicon glyphicon-list-alt'></span> 新闻列表
        li
          a(href="/manage/edit", class='navbar-brand') <span class='glyphicon glyphicon-plus'></span> 添加新闻
        li
          a(href="/manage/register", class='navbar-brand') <span class='glyphicon glyphicon-user'></span> 用户注册
        li
          a(href="/manage/setting", class='navbar-brand') <span class='glyphicon glyphicon-cog'></span> 用户设置