extends ../layout.jade

block content
  div.lgoinbox
    div.loginbox-head User Login
    div.loginbox-body.cf
      div.col-sm-4.td-title Name:
      div.col-sm-8.tr-content
        input(type='text',id='txtUserName',name='userName')
      div.col-sm-4.td-title Pwd:
      div.col-sm-8.td.content
        input(type='text',id='txtUserName',name='userName')