extends ../layout.jade

block static
  script(src='/javascripts/login.js')

block content
  div.login-page
    div.panel.panel-default.lgoinbox
      div.panel-heading
        h3.panel-title User Login
      div.panel-body.loginbox-body
        table
          tbody
            tr
              th UserName :
              td
                input(type='text',id='txtUserName',name='userName',class='form-control txtUserName', placeholder='Input your name')
            tr
              th UserPwd :
              td
                input(type='password',id='txtUserPwd',name='userName',class='form-control txtUserPwd', placeholder='Input your password')

          tfoot
            tr
              td(colspan='2',class='td-control')
                input(type='button',class='btn btn-primary btnLogin',value='Login')
                input(type='button',class='btn btn-primary btnCancel',value='Cancel')
            tr
              td(colspan='2', class='td-register cf')
                span
                  a(href='/manage/register') Register
                span
                  a(href='/manage/forget') Forget your password