extends ../layout.jade

block static
  script(src='/lib/validate/jquery.validate.js')
  script(src='/lib/validate/validateExtend.js')
  script(src='/javascripts/Manage/register.js')

block content
  div.container.pages
    div.panel.panel-default
      div.panel-heading
        h3.panel-title Register
      div.panel-body
        div.cf
          div.pageleft
            div
          div.pageright.loginbox-body
            form#myForm
              table
                tbody
                  tr
                    th UserName : 
                    td
                      input(type='text',class='form-control txtUserName',placeholder='Input your user nane', name="userName")
                  tr
                    th UserPwd : 
                    td
                      input(type='password',class='form-control txtUserPwd',placeholder='Input your password', name="userPwd")
                  tr
                    th NickName : 
                    td
                      input(type='text',class='form-control txtNickName',placeholder='Input your nick name', name="nickName")
                  tr
                    th Age : 
                    td
                      input(type='text',class='form-control txtAge',placeholder='Input your age', name="age")
                  tr
                    th Sex : 
                    td.inputRadio
                      input(type='radio',name='userSex',class='rbtnSex', value='0', checked)
                      span Weman
                      input(type='radio',name='userSex',class='rbtnSex', value='1')
                      span Man
                  tr
                    th Phone : 
                    td
                      input(type='text',class='form-control txtPhone',placeholder='Input your phone', name="phone")
                  tr
                    th e-mail : 
                    td
                      input(type='text',class='form-control txtEmail',placeholder='Input your E-mail', name="email")
                tfoot
                  tr
                    td(colspan='2', class='td-control cf')
                      input(type='button',class='btn btn-primary btnRegister',value='Register')
                      input(type='reset',class='btn btn-primary btnCancel',value='Cancel')